<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="build/vendor.css">
    <link rel="stylesheet" href="build/style.css">
</head>
<body>
<div id="app">
    <login-form v-if="!signedIn" v-on:sign="signIn"></login-form>
    {{user}}
    {{errorCode}}
    {{errorMessage}}
    <div v-if="signedIn">
        {{user}}
    </div>
</div>
<script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>
<script src="https://cdn.jsdelivr.net/vuefire/1.0.0/vuefire.min.js"></script>
<script src="build/bundle.js"></script>
</body>
</html>