<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="build/vendor.css">
    <link rel="stylesheet" href="build/style.css">
</head>
<body>
<div id="app">
    <login-form v-if="!signedIn" v-on:sign="signIn"></login-form>

    <div v-if="signedIn">
        <div>Welcome {{user.displayName}}</div>
        <div>
            Current gifts: {{gifts}}
        </div>
        <div >
            <label>Name</label>
            <input type="text" v-model="newGiftName">

            <label>Goal</label>
            <input type="text" v-model="newGiftGoal">

            <button class="btn btn-primary" v-on:click="createGift">Submit</button>

        </div>
    </div>
</div>
<script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>
<script src="https://cdn.jsdelivr.net/vuefire/1.0.0/vuefire.min.js"></script>
<script src="build/bundle.js"></script>
</body>
</html>